.person-icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.regidter-name:hover .person-icon {
  fill: var(--colorHover);
}
.agree-icon {
  width: 16px;
  height: 16px;
}
