.prodjekt-titel {
  color: var(--textcolor);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.prodjekt-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: var(--firstColor);
}
.prodjekt {
  border: 1px solid #eee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.prodjekt:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.overlay-text {
  padding: 64px 27px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--adventejisbgcolor);
  transform: translateY(+100%);
  position: absolute;
  transition: transform 250ms var(--transition);
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prodjekt:hover .overlay-figur .overlay-text {
  top: 0;
  transform: translate(0);
}
.overlay-figur {
  position: relative;
  overflow: hidden;
}
