.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
  height: 54px;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $colorDefault;
  border-radius: 4px;
  padding: 6px 22px;
  background: $bgsecendory;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.filter-button:hover {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: $colorHover;
  padding: 6px 25px;
  color: $secondtColor;
}
