.scrol-top {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #c2c2c257;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.438);
}
.scrol-top-icon {
  fill: #0000007a;
  width: 25px;
  height: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.scrol-top:hover .scrol-top-icon {
  fill: var(--colorHover);
}
.scrol-top:hover {
  background-color: #ffffff21;
}
