.massage__text {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $firstColor;
  margin-bottom: 30px;
}

.massage__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messeg {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  // max-width: 448px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.messeg:hover,
.messeg:focus-within {
  border: 1px solid $colorHover;
  border-radius: 4px;
}
.message__register {
  margin: 12px 16px;
  resize: none;
  min-height: 96px;
  width: 100%;
  max-width: 92%;
}
@media (min-width: 320px) {
  .massage__text {
    display: flex;
    flex-wrap: wrap;
  }
}
