.form__name:focus-within {
  fill: $colorHover;
}
.form__name:hover,
.form__name:focus-within {
  border: 1px solid $colorHover;
  border-radius: 4px;
}
.form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: $firstColor;
}
.form__name {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.form__group:last-of-type {
  margin-bottom: 20px;
}
