// :root {
//     --firstColor: #757575;
//     --secondtColor: #ffffff;
//     --colorHover: #2196f3;
//     --colorDefault: #212121;
//     --colorOpacity: rgba(255, 255, 255, 0.6);
//     --textcolor: #000000;
//     --BGcolor: #2f303a;
//     --bgsecendory: #f5f4fa;
//     --icons-color: #afb1b8;
//     --adventejisbgcolor: #f5f4fa;
//     --transition: cubic-bezier(0.4, 0, 0.2, 1);
// }
$firstColor: #757575;
$secondtColor: #ffffff;
$colorHover: #2196f3;
$colorDefault: #212121;
$colorOpacity: rgba(255, 255, 255, 0.6);
$textColor: #000000;
$bgColor: #2f303a;
$bgsecendory: #f5f4fa;
$icons-color: #afb1b8;
$adventejisbgcolor: #f5f4fa;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
