.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $textcolor;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.nav-link:hover {
  color: $colorHover;
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: $colorHover;
  bottom: -31px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms $transition;
}
.link-active::after,
.nav-link:hover::after {
  transform: scaleX(1);
}
.contakts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $firstColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.contakts-item:hover .contakts-link {
  color: $colorHover;
}
