.menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.menu__link-mix {
  color: $textColor;
  position: relative;
}
.menu__link:hover {
  color: $colorHover;
}
.menu__link::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: $colorHover;
  bottom: -31px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms $transition;
}
.menu__link--active::after,
.menu__link:hover::after {
  transform: scaleX(1);
}
.contakts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $firstColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.contakts__item:hover .contakts__link {
  color: $colorHover;
}
