.contakts-item:hover .mailto {
  fill: $colorHover;
}
.mailto {
  width: 16px;
  height: 12px;
  fill: $firstColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.phone {
  width: 10px;
  height: 16px;
  fill: $firstColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.contakts-item:hover .phone {
  fill: $colorHover;
}
