.contakts-item:hover .mailto {
  fill: var(--colorHover);
}
.mailto {
  width: 16px;
  height: 12px;
  fill: var(--firstColor);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.phone {
  width: 10px;
  height: 16px;
  fill: var(--firstColor);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
}
.contakts-item:hover .phone {
  fill: var(--colorHover);
}
