.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: $bgColor;
}
.info__list {
  margin-top: 20px;
}
.footer__container {
  display: flex;
}
@media (max-width: 1200px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 160px;
    row-gap: 60px;
    align-items: center;
    text-align: center;
  }
  .subscribes__button {
    width: 200px;
  }
}
