.info__link {
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: $colorOpacity;
  padding-bottom: 10px;
}
.info__adres {
  font-style: normal;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: $secondtColor;
}
.info {
  margin-right: 0px;
}
@media (min-width: 1200px) {
  .info {
    margin-right: 70px;
  }
}
