.website__titel {
  margin-bottom: 20px;
  color: $secondtColor;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .websites {
    margin-right: 93px;
  }
  .website__titel {
    text-align: start;
  }
}
