.partner-icon {
  width: 20px;
  height: 20px;
  fill: $icons-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $transition;
  transition-duration: fill;
  transition: 250ms $transition;
}
.partner-icon:hover {
  fill: $secondtColor;
}
