.partner-icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition);
  transition-duration: fill;
  transition: 250ms var(--transition);
}
.partner-icon:hover {
  fill: var(--secondtColor);
}
