.subscribes-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
  border-radius: 4px;
  background-color: $colorHover;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: $secondtColor;
  transition: background-color 250ms $transition;
}
.subscribes-button:hover {
  background-color: #0871c6;
}
.subscribes-icon {
  width: 24px;
  height: 24px;
  fill: $secondtColor;
}
.subscribes-button::after {
  content: "";
  background-image: url(../img/subscribei-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  transition: transform 550ms var(--transition);
}
.subscribes-button:hover::after {
  transform: rotate(360deg);
}
