.container-websites {
  margin-right: 93px;
}
.websit-icons-titel {
  margin-bottom: 20px;
  color: var(--secondtColor);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
