.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero__button:hover {
  background-color: #0871c6;
  transform: scale(1.1);
}
@media (min-width: 320px) {
  .hero__button {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 24px;
  }
}
