.hero__titel {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-align: center;
  color: $secondtColor;
}
@media (min-width: 320px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__titel {
    max-width: 360px;
    font-size: 26px;
  }
}
