.menu__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.nav__list {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__link-mix {
  color: $textColor;
  position: relative;
}
.menu__link:hover {
  color: $colorHover;
}
.menu__link::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: $colorHover;
  bottom: -33px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms $transition;
}
.menu__link--active::after,
.menu__link:hover::after {
  transform: scaleX(1);
}
.contakts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $firstColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $transition;
}
.contakts__item:hover .contakts__link {
  color: $colorHover;
}
.menu__link--active::after,
.menu__link:hover::after {
  transform: scaleX(0);
}
.mobile__link {
  color: $colorHover;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
}
.contacts__mobile {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 356px;
  margin-bottom: 40px;
}
.menu__mobile {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: start;
  margin-bottom: 65px;
}
.menu__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.mobil__container {
  margin-left: 40px;
}
.nav__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
@media (min-width: 768px) {
  .menu__link::after {
    bottom: -38px;
  }
  .menu__link--active::after,
  .menu__link:hover::after {
    transform: scaleX(100%);
  }
  .contacts__mobile {
    display: none;
  }
  .menu__mobile {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin: 0px;
  }
  .mobil__container {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu__link::after {
    bottom: -33px;
  }
  .menu__link--active::after,
  .menu__link:hover::after {
    transform: scaleX(100%);
  }
  .contacts__mobile {
    display: none;
  }
  .menu__mobile {
    display: none;
  }
}
