.contakts__item:hover .contakts__photo--mailto {
  fill: $colorHover;
}
.contakts__photo--mailto {
  width: 16px;
  height: 12px;
}
.contakts__photo--phone {
  width: 10px;
  height: 16px;
}
.contakts__item:hover .contakts__photo--phone {
  fill: $colorHover;
}
