.advantages__item {
  flex-basis: calc((100% - 90px) / 4);
  width: 270px;
}
.adventeges__titel {
  color: $textColor;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.adventeges__text {
  letter-spacing: 0.03em;
  line-height: 1.71429;
  color: $firstColor;
}
