.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $adventejisbgcolor;
  margin-bottom: 30px;
  width: 100%;
}
.advantages__item--1::before {
  background-image: url(../img/adventedjis-firstphoto.svg);
}
.advantages__item--2::before {
  background-image: url(../img/adventejis-clock.svg);
}
.advantages__item--3::before {
  background-image: url(../img/adventejis-diagram.svg);
}
.advantages__item--4:before {
  background-image: url(../img/adventejis-astronaut.svg);
}
