.team__article {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  background: $secondtColor;
  background-color: $secondtColor;
  padding-bottom: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
@media (max-width: 1200px) {
  .team__article {
    flex-basis: calc((100% - 90px) / 2);
  }
}
@media (max-width: 768px) {
  .team__article {
    flex-basis: calc((100% - 90px) / 1);
  }
}
