body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #afb1b8;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.contakts__photo {
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  background-color: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color, transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  color: #ffffff;
  padding: 10px 32px;
  border-radius: 4px;
}

.section__titel {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

button {
  outline: 0;
  border: 0;
  font-family: inherit;
}

input {
  border: 0px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

textarea {
  border: 0px;
  outline: none;
}

body {
  overflow: scroll;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 800px;
}

main {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.prodjekt__container {
  padding: 20px 24px;
}

.projekts {
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 320px) {
  .prodjekt__article {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .prodjekt__article {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .prodjekt__article {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
  height: 54px;
  flex-wrap: wrap;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  background: #f5f4fa;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #2196f3;
  padding: 6px 25px;
  color: #ffffff;
}

.prodjekt__titel {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.prodjekt__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.prodjekt__article {
  border: 1px solid #eee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.prodjekt__article:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.overlay__text {
  padding: 64px 27px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #f5f4fa;
  transform: translateY(100%);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prodjekt__article:hover .overlay__figur .overlay__text {
  top: 0;
  transform: translate(0);
}

.overlay__figur {
  position: relative;
  overflow: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  position: relative;
  width: 24px;
  height: 16px;
}
.header__menu::before, .header__menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  left: 0;
}
.header__menu::before {
  top: 0;
}
.header__menu::after {
  bottom: 0;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.no-scroll {
  overflow: hidden;
}

.contakts {
  display: none;
}

.header {
  position: relative;
}

.header__menu {
  display: block;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  padding: 40px;
}

.menu.open {
  transform: translate(0);
}

.contakts.open {
  transform: translate(0);
}

.header__menu {
  display: block;
  z-index: 10;
}

.header__menu__icon {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .menu {
    max-width: 285px;
    position: relative;
    background-color: rgba(250, 235, 215, 0);
    transform: translate(0);
    padding: 0px;
  }
  .contakts {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .header__menu {
    display: none;
  }
  .header__menu__icon {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contakts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
    gap: 30px;
  }
  .contakts__item {
    max-width: 160px;
  }
}
.logo__header--active {
  color: #2196f3;
}

.logo__header__part {
  color: #000000;
}

.menu__link {
  font-size: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu__link-mix {
  color: #000000;
  position: relative;
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: #2196f3;
  bottom: -33px;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--active::after,
.menu__link:hover::after {
  transform: scaleX(1);
}

.contakts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 34px;
  letter-spacing: 0.02em;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__item:hover .contakts__link {
  color: #2196f3;
}

.menu__link--active::after,
.menu__link:hover::after {
  transform: scaleX(0);
}

.mobile__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  position: relative;
}

.mobile__link::after {
  content: "";
  position: absolute;
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 100%;
  bottom: 0;
  right: -5px;
}

.mobile__link--last::after {
  display: none;
}

.contacts__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.menu__mobile {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: start;
  margin-bottom: 65px;
}

.menu__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.nav__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media (min-width: 768px) {
  .menu__link::after {
    bottom: -38px;
  }
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .contakts__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .menu__link--active::after,
  .menu__link:hover::after {
    transform: scaleX(100%);
  }
  .contacts__mobile {
    display: none;
  }
  .menu__mobile {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin: 0px;
  }
  .mobil__container {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu__link::after {
    bottom: -33px;
  }
  .menu__link--active::after,
  .menu__link:hover::after {
    transform: scaleX(100%);
  }
  .contacts__mobile {
    display: none;
  }
  .menu__mobile {
    display: none;
  }
}
.contakts__item:hover .contakts__photo--mailto {
  fill: #2196f3;
}

.contakts__photo--mailto {
  width: 16px;
  height: 12px;
}

.contakts__photo--phone {
  width: 10px;
  height: 16px;
}

.contakts__item:hover .contakts__photo--phone {
  fill: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-img.webp);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.hero__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 30px;
}

.hero__titel {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 320px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__titel {
    max-width: 360px;
    font-size: 26px;
  }
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero__button:hover {
  background-color: #0871c6;
  transform: scale(1.1);
}

@media (min-width: 320px) {
  .hero__button {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 24px;
  }
}
.adventeges {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media (min-width: 1200px) {
  .adventeges {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages__item {
  flex-basis: 100%;
  width: 270px;
}

.adventeges__titel {
  text-align: center;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.adventeges__text {
  letter-spacing: 0.03em;
  line-height: 1.71429;
  color: #757575;
}

@media (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .adventeges__titel {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .adventeges__titel {
    text-align: start;
  }
}
.advantages__item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  width: 100%;
}

.advantages__item--1::before {
  background-image: url(../img/adventedjis-firstphoto.svg);
}

.advantages__item--2::before {
  background-image: url(../img/adventejis-clock.svg);
}

.advantages__item--3::before {
  background-image: url(../img/adventejis-diagram.svg);
}

.advantages__item--4:before {
  background-image: url(../img/adventejis-astronaut.svg);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media (max-width: 1200px) {
  .work {
    display: none;
  }
}
.work__photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.work__article {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work__label {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
}

.work__titel {
  margin-bottom: 50px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.team__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.teamate {
  display: flex;
  justify-content: center;
  width: 1170px;
  height: 368px;
  gap: 30px;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__titel {
  margin-bottom: 50px;
}

@media (min-width: 320px) {
  .team__titel {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.team__article {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  background-color: #ffffff;
  padding-bottom: 30px;
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .team__article {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .team__article {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__photo {
  margin-bottom: 30px;
  overflow: hidden;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team__role {
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.partner__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 28px;
}

.partner__item:hover .partner__icon {
  fill: #f5f4fa;
}

.partner__item {
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner__item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #2196f3;
}

.partner__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: fill;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__icon:hover {
  fill: #ffffff;
}

.klients {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.klients__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (min-width: 1200px) {
  .klients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.klients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 30px) / 2);
}

@media (min-width: 1200px) {
  .klients__link {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.klients__logo {
  width: 106px;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.klients__link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.klients__logo {
  fill: #afb1b8;
}

.klients__item:hover .klients__logo {
  fill: #2196f3;
}

.scrol__top {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(194, 194, 194, 0.3411764706);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 30px;
  bottom: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.438);
}

.scrol__top__icon {
  fill: rgba(0, 0, 0, 0.4784313725);
  width: 25px;
  height: 25px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scrol__top:hover .scrol__top__icon {
  fill: #2196f3;
}

.scrol__top:hover {
  background-color: rgba(255, 255, 255, 0.1294117647);
}

.klients__titel {
  margin-bottom: 50px;
}

@media (min-width: 320px) {
  .klients__titel {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}

.info__list {
  margin-top: 20px;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 320px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 160px;
         column-gap: 160px;
    row-gap: 60px;
    align-items: center;
    text-align: center;
  }
  .subscribes__button {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .subscribes__button {
    padding: 10px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.logo__footer__part {
  color: #ffffff;
}

.info__link {
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}

.info__adres {
  font-style: normal;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.info {
  margin-right: 0px;
}

@media (min-width: 1200px) {
  .info {
    margin-right: 70px;
  }
  .info__link {
    text-align: start;
  }
  .info__adres {
    text-align: start;
  }
  .info__item {
    text-align: start;
  }
}
.website__titel {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .websites {
    margin-right: 93px;
  }
  .website__titel {
    text-align: start;
  }
}
.website__link {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.website__list {
  display: flex;
  gap: 10px;
}

.website__link:hover {
  background-color: #2196f3;
}

.website__icon {
  height: 22px;
  width: 22px;
  fill: #ffffff;
}

.subscribes__container__titel {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.subscribes {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 320px) {
  .subscribes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    text-align: center;
  }
  .footer__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .subscribes {
    display: flex;
    flex-direction: row;
    gap: 12px;
    text-align: center;
    text-align: start;
    width: 570px;
  }
  .subscribes__container__titel {
    text-align: start;
  }
}
.subscribes__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 320px) {
  .subscribes__input {
    flex-grow: 1;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .subscribes__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
  }
}
.subscribes__button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribes__button:hover {
  background-color: #0871c6;
}

.subscribes__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.subscribes__button::after {
  content: "";
  background-image: url(../img/subscribei-img.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  transition: transform 550ms var(--transition);
}

.subscribes__button:hover::after {
  transform: rotate(360deg);
}

.backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrob.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrob {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.modal {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 4px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
  width: 90%;
}

.no-skroll {
  overflow: hidden;
}

@media (min-width: 559px) {
  .modal {
    padding: 40px;
    width: 500px;
  }
}
.modal__titel {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  max-width: 448px;
  margin: 0 auto;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.form__name:focus-within {
  fill: #2196f3;
}

.form__name:hover,
.form__name:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__name {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__group:last-of-type {
  margin-bottom: 20px;
}

.form__icon {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__name:hover .form__icon {
  fill: #2196f3;
}

.agree-icon {
  width: 16px;
  height: 16px;
}

.massage__text {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.massage__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messeg {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.messeg:hover,
.messeg:focus-within {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.message__register {
  margin: 12px 16px;
  resize: none;
  min-height: 96px;
  width: 100%;
  max-width: 92%;
}

@media (min-width: 320px) {
  .massage__text {
    display: flex;
    flex-wrap: wrap;
  }
}
.modal__colse__button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.modal__close__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__colse__button:hover .modal__close__icon {
  fill: #2196f3;
  transform: scale(1.2);
}

.button-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribes__hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribes__hero__btn:hover {
  background-color: #fff;
  color: #2196f3;
  border: 1px solid #2196f3;
}

.masseg__agree {
  width: 16px;
  height: 15px;
  background-color: #000000;
}

.massage__agree__link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
}