:root {
  --firstColor: #757575;
  --secondtColor: #ffffff;
  --colorHover: #2196f3;
  --colorDefault: #212121;
  --colorOpacity: rgba(255, 255, 255, 0.6);
  --textcolor: #000000;
  --BGcolor: #2f303a;
  --bgsecendory: #f5f4fa;
  --icons-color: #afb1b8;
  --adventejisbgcolor: #f5f4fa;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

button {
  outline: 0;
  border: 0;
  font-family: inherit;
}

input {
  border: 0px;
  outline: none;
}

button {
  cursor: pointer;
}

textarea {
  border: 0px;
  outline: none;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--icons-color);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 800px;
}